<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>NoMas</string>
    <key>CFBundleIconFile</key>
    <string>2d2444e8aa4728fb184fb399f7fc3733_Calendar</string>
    <key>CFBundleIconName</key>
    <string>2d2444e8aa4728fb184fb399f7fc3733_Calendar</string>
    <key>CFBundleIdentifier</key>
    <string>com.nomas.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>No Mas!</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>No Mas! needs access to your calendars to sync busy time blocks between them.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>No Mas! needs full access to your calendars to create and manage busy time blocks.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
